* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("/img/photo-1576792265585-c9a7624630ca.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
body nav {
  border-bottom: 5px solid rgba(156, 225, 247, 0.3);
  background-color: rgba(210, 210, 255, 0.5);
}
body nav ul {
  display: flex;
  justify-content: center;
}
body nav ul li {
  background-color: rgba(252, 243, 243, 0.3);
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 20px rgb(79, 116, 116), 0 0 5px rgb(5, 7, 7);
  list-style: none;
  width: 5%;
  height: 40px;
  margin: 10px;
  font-family: "Advent Pro", sans-serif;
  font-weight: bolder;
  font-size: 13px;
  letter-spacing: 1.5px;
  border-radius: 10%;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  margin-left: 50px;
}
body nav ul li a {
  all: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}
body nav ul .button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 50%;
  opacity: 0;
  transform: translateX(-100%);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(221, 250, 188, 0.13) 77%, rgba(234, 255, 201, 0.5) 92%, rgba(255, 255, 255, 0.3) 100%);
}
body nav ul .button:hover:after {
  opacity: 1;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition-property: transform, opacity;
  transition-duration: 2s, 0.5s;
  transition-timing-function: ease-in-out;
}
body nav ul .button:active:after {
  opacity: 0;
}
body nav ul .button:active:after {
  opacity: 0;
}
body nav ul .home:hover {
  background-image: url("/img/photo-1578598459159-f6ae2f208ca9.jpeg");
}
body nav ul .events:hover {
  background-image: url("/img/photo-1576792265585-c9a7624630ca.jpeg");
}
body nav ul .residency2:hover {
  background-image: url("/img/photo-1570475501127-a9413237866c.jpeg");
}
body nav ul .contact:hover {
  background-image: url("/img/photo-1576180510889-d91ca5078e14.jpeg");
}
body body, body html {
  background-color: #EBECF0;
}
body body, body p, body input, body select, body textarea, body button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}
body div, body p {
  color: #BABECC;
  text-shadow: 1px 1px 1px #FFF;
}
body form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}
body .segment {
  padding: 32px 0;
  text-align: center;
  color: rgba(91, 148, 196, 0.712);
}
body h1 {
  font-family: "Advent Pro", sans-serif;
  font-weight: bold;
}
body button, body input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}
body label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}
body input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
body input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
body button {
  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
body button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
body button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
body button .icon {
  margin-right: 8px;
}
body button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
body button.unit .icon {
  margin-right: 0;
}
body button.red {
  display: block;
  width: 100%;
  color: rgba(91, 148, 196, 0.712);
}
body .input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body .input-group label {
  margin: 0;
  flex: 1;
}
body footer {
  background-color: rgba(156, 225, 247, 0.712);
  text-align: center;
  padding: 0.5%;
  margin-top: 320px;
}

@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }
  body .button {
    width: 80px;
    font-size: 10px;
    margin: 10px;
  }
}
/* for smaller tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    width: 100%;
  }
  body .button {
    width: 80px;
    margin: 10px;
  }
}
/* for large tablets */
@media only screen and (min-width: 769px) and (max-width: 990px) {
  body {
    width: 100%;
  }
  body .button {
    width: 80px;
    margin: 15px;
  }
}
/* for laptops */
@media only screen and (min-width: 991px) and (max-width: 1366px) {
  body {
    width: 100%;
  }
  body .button {
    width: 80px;
    margin: 20px;
  }
}
/* for desktops */
@media only screen and (min-width: 1367px) {
  body {
    width: 100%;
  }
  body .button {
    width: 80px;
    margin: 10px;
  }
}

/*# sourceMappingURL=contact.css.map */
