$neon: 0 0 5px #fff,
0 0 10px #fff,
0 0 20px #fff,
0 0 80px rgb(79, 116, 116),
0 0 80px rgb(5, 7, 7),
0 0 90px #0ff,
0 0 100px #0ff,
0 0 150px #0ff;

@mixin neumorphic {
 
  background-color: rgba(252, 243, 243, 0.3);
  box-shadow: 0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 20px rgb(79, 116, 116),
  0 0 5px rgb(5, 7, 7),
  
   
  
}

@mixin button {

  list-style: none;
  width: 5%;
  height: 40px;
  margin: 10px;
  font-family: 'Advent Pro', sans-serif;
  font-weight:bolder;
  font-size: 13px;
  letter-spacing: 1.5px;
  border-radius: 10%;
  
  
}


@mixin text {
  font-family: 'Advent Pro', sans-serif;
            color: rgb(27, 110, 189);
            text-transform: uppercase;
            text-shadow: $neon;
            font-size: 50px;
            letter-spacing: 15px;
            margin-bottom: 20px;
}

