@import "./Variables";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/img/photo-1564951434112-64d74cc2a2d7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    nav {
        border-bottom: 5px solid rgba(156, 225, 247, 0.3);
        background-color:rgba(210, 210, 255, 0.5);
        ul {
            display: flex;
            justify-content: center;
            
            li {
                @include neumorphic;

                @include button;

                position: relative;
                text-transform: uppercase;
                overflow: hidden;
                margin-left: 50px;


             a {
                 all: unset;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50%, -50%);
                 text-decoration: none;
                
             }

            }

            .button {
                background-color: violet;
            }
            .button:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 200%;
                height: 100%;
                opacity: 0;
                transform: translateX(-100%);
                
                background: rgba(255, 255, 255, 0.13);
                background: linear-gradient(
                  to right, 
                  rgba(255, 255, 255, 0.13) 0%,
                  rgba(221, 250, 188, 0.13) 77%,
                  rgba(234, 255, 201, 0.5) 92%,
                  rgba(255, 255, 255, 0.3) 100%
                );
                
              }
    
              .button:hover:after {
                opacity: 1;
                top: 0;
                left: 0;
                transform: translateX(0);
                transition-property: transform, opacity;
                transition-duration: 2s, 0.5s;
                transition-timing-function:ease-in-out;
    
              }
    
    
              .button:active:after {
                opacity: 0;
              }
    
              .button:active:after {
                opacity: 0;
              }

              .home:hover {
                background-image: url("/img/photo-1578598459159-f6ae2f208ca9.jpeg");
            }
            
            .events:hover {
                background-image: url("/img/photo-1576792265585-c9a7624630ca.jpeg");
            }
            
            .residency2:hover {
                background-image: url("/img/photo-1570475501127-a9413237866c.jpeg");
            }
            
            .contact:hover {
                background-image: url("/img/photo-1576180510889-d91ca5078e14.jpeg");
            }
        }

    }

   main {
      background-color: rgba(156, 225, 247, 0.3);
      width: 50%;
      height: 250%;
      margin-left: 24%;
      border-bottom: 100px solid rgba(156, 225, 247, 0.1);
    

    div {
        width: 75%;
        
        text-align: center;
        margin-left: 150px;
        padding-top: 100px;

       

        h1 {
            @include text;
        }

        p, li {
            font-family: 'Advent Pro', sans-serif;
            font-size: 20px;
            letter-spacing: 5px;
            font-weight: bold;
            justify-content: center;

            
        }

        img {
            width: 70%;
            height: 20%;
            opacity: 0.5;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-right: 5%;
        }
    }
   }

   .footer {

        background-color: rgba(156, 225, 247, 0.712);
        text-align: center;
        padding: 0.5%;

   }
}